* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #111;
    padding: 22px 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all 0.5s ease;

}

.menu-btn {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #ff004f;
    transition: all 0.5s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-transform: capitalize;
}

.navbar .menu li a:hover {
    color: #ff004f;
}


@media (max-width: 947px) {
    .navbar {
        padding: 20px 50px;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100%;
        width: 250px;
        background: #111;
        top: 0;
        right: -250px;
        padding-top: 60px;
        transition: all 0.5s ease;
    }

    .navbar .menu.active {
        right: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: block;
        margin: 20px 20px;
        font-size: 20px;
    }
}